<%- include('cabecalho.ejs')%>

    <!-- Conteúdo Principal -->
    <main class="container">
        <div class="success-container">
            <div class="success-icon">✓</div>
            <h2>Cadastrado com Sucesso!</h2>
            <p class="success-message">A música foi cadastrada no sistema.</p>

            <div class="detail-box">
                <h3>Dados Cadastrados</h3>

                <div class="detail-item">
                    <label>Nome da música:</label>
                    <p id="display-nomemus">
                        <%=nomemus%>
                    </p>
                </div>

                <div class="detail-item">
                    <label>Artista:</label>
                    <p id="display-nomartista">
                        <%=nomartista%>
                    </p>
                </div>
                <div class="detail-item">
                    <label>Gênero:</label>
                    <p id="display-genartista">
                        <%=genartista%>
                    </p>
                </div>
                <div class="detail-item">
                    <label>Ano de Lançamento:</label>
                    <p id="display-anoLancamento">
                        <%=anoLancamento%>
                    </p>
                </div>
                <div class="detail-item">
                    <label>Duração:</label>
                    <p id="display-duracao">
                        <%=duracao%>
                    </p>
                </div>
            </div>

            <div class="success-buttons">
                <a href="/cadastro" class="btn btn-success">Cadastrar Outro Artista</a>
                <a href="/artista" class="btn btn-primary">Ver Lista de Artistas</a>
                <a href="/cadastrogenero" class="btn btn-success">Cadastrar Outro Gênero</a>
                <a href="/genero" class="btn btn-primary">Ver Lista de Gêneros</a>
                <a href="/cadastromusica" class="btn btn-success">Cadastrar Outra Música</a>
                <a href="/musica" class="btn btn-primary">Ver Lista de Músicas</a>
                <a href="/cadastroplaylist" class="btn btn-success">Cadastrar Outra Playlist</a>
                <a href="/playlist" class="btn btn-primary">Ver Lista de Playlists</a>
                <a href="/cadastroalbum" class="btn btn-success">Cadastrar Outro Álbum</a>
                <a href="/album" class="btn btn-primary">Ver Lista de Álbuns</a>
                <a href="/" class="btn btn-secondary">Voltar ao Início</a>
            </div>
        </div>
    </main>
    <%- include('rodape.ejs')%>