<%- include('cabecalho.ejs')%>
    <main class="container">
        <a href="/playlist" class="back-link">← Voltar para playlist</a>

        <div class="detail-box">
            <h2>Detalhes da playlist</h2>

            <div class="detail-item">
                <label>Nome da playlist:</label>
                <p>
                    <%=nomeplay%>
                </p>
            </div>
            <div class="detail-item">
                <label>Música 1:</label>
                <p>
                    <%=musica1%>
                </p>
            </div>
            <div class="detail-item">
                <label>Música 2:</label>
                <p>
                    <%=musica2%>
                </p>
            </div>
            <div class="detail-item">
                <label>Música 3:</label>
                <p>
                    <%=musica3%>
                </p>
            </div>
        </div>
    </main>
    <%- include('rodape.ejs')%>