<%- include('cabecalho.ejs')%>
    <main class="container">
        <a href="/genero" class="back-link">← Voltar para lista de gêneros</a>

        <div class="detail-box">
            <h2>Detalhes do Gênero</h2>

            <div class="detail-item">
                <label>Nome:</label>
                <p>
                    <%=nomegen%>
                </p>
            </div>
            <div class="detail-item">
                <label>Descrição:</label>
                <p>
                    <%=descricao%>
                </p>
            </div>
            <div class="detail-box">
            <h3>Mais músicas deste gênero</h3>
           <div class="lista-musicas">
    <% if (mais.length > 0) { %>
        <% mais.forEach(m => { %>
            <a href="<%= m.link %>" class="link"><%= m.nome %></a><br>
        <% }) %>
    <% } else { %>
        <p>Nenhuma música cadastrada.</p>
    <% } %>
</div>
        </div>

    </main>
    <%- include('rodape.ejs')%>