<%- include('cabecalho.ejs')%>
    <main class="container">
        <a href="/artista" class="back-link">← Voltar para lista de artistas</a>

        <div class="detail-box">
            <h2>Detalhes do Artista</h2>

            <div class="detail-item">
                <label>Nome:</label>
                <p>
                    <%=artnome%>
                </p>
            </div>
            <div class="detail-item">
                <label>País:</label>
                <p>
                    <%=artpais%>
                </p>
            </div>
            <div class="detail-item">
                <label>Ano de Início:</label>
                <p>
                    <%=artano%>
                </p>
            </div>
        </div>
    </main>
    <%- include('rodape.ejs')%>