<%- include('../cabecalho.ejs')%>


    <main class="container">
        <div class="page-header">
            <h2>Lista de Gênero</h2>
            <a href="/genero/add" class="btn btn-success">+ Novo Gênero</a>
        </div>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Ações</th>
                        <th>Mais Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <%generos.forEach(genero=> {%>
                        <tr>
                            <td>
                                <%=genero.nome%>
                            </td>
                            <td><a href="/genero/del/<%=genero.id%>" class="link">EXCLUIR</a></td>
                            <td><a href="/genero/edt/<%=genero.id%>" class="link">EDITAR</a></td>
                        </tr>
                        <%})%>

                </tbody>
            </table>
        </div>
    </main>

    <%- include('../rodape.ejs')%>