<%- include('../cabecalho.ejs')%>
    <header>
        <h3>Editar Álbum</h3>
    </header>
    <div class="content">
        <form id="form-instrumento" method="post" autocomplete="off">
            <div class="grid">
                <div>
                    <label for="nome">Nome do álbum</label>
                    <input id="nome" value="<%=album.nome%>" name="nome" type="text" placeholder="Ex:GUTS" required>
                    <label for="ano">Ano do álbum</label>
                    <input id="ano" value="<%=album.ano%>" name="ano" type="text" placeholder="Ex:2023" required>
                    <label for="pais">Gênero do álbum</label>
                    <input id="ano" value="<%=album.genero%>" name="genero" type="text" placeholder="Ex:Rock" required>
                </div>
                <div class="field-help">Os campos com * são obrigatórios.</div>
                <footer>
                    <a type="button" class="btn ghost" id="btn-cancelar" href="/artista/lst">Cancelar</a>
                    <button type="submit" class="btn primary">Editar Álbum</button>
                </footer>
        </form>
    </div>

    <%- include('../rodape.ejs')%>