<%- include('../cabecalho.ejs')%>

    <main class="container">
        <div class="page-header">
            <h2>Lista de Álbuns</h2>
            <a href="/album/add" class="btn btn-success">+ Novo Álbum</a>
        </div>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Ano de lançamento</th>
                        <th>Gênero</th>
                        <th>Ações</th>
                        <th>Mais Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <%albuns.forEach(album=>{%>
                        <tr>
                            <td>
                                <%=album.nome%>
                            </td>
                            <td>
                                <%=album.ano%>
                            </td>
                            <td>
                                <%=album.genero%>
                            </td>
                            <td><a href="/album/del/<%=album.id%>" class="link">EXCLUIR</a></td>
                            <td><a href="/album/edt/<%=album.id%>" class="link">EDITAR</a></td>
                        </tr>
                        <%})%>

                </tbody>
            </table>
        </div>
    </main>

    <%- include('../rodape.ejs')%>